.content_wrap {
    display: flex;
    min-height: calc(var(--min-height));
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content_wrap p {
    font-size: 18px;
    margin: 7px 0;
}
.content_wrap a {
    font-size: 18px;
    margin: 0;
    text-decoration: none;
    color: blue;
}