/* header block styles */
.menu {
  display: flex;
  justify-content: space-between;
  height: 100px;

  border-bottom: 1px solid;
  border-color: #7895cb;
}
.header_title {
  display: flex;
  align-items: center;
}
.header_title a {
  text-decoration: none;
  color: #000;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  /*noinspection CssInvalidPropertyValue*/
  text-wrap: nowrap;
}
.header_content a {
  background-color: #fff;
  color: #000;
  border: 1px solid #96c0d9;
  border-radius: 5px;
  display: block;
  height: min-content;
  padding: 7px;
  margin: 0 3px;
  text-decoration: none;
}

.hide_element_mobile {
  display: flex;
}

.burger_menu {
  display: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #96c0d9;
  border-radius: 5px;
  height: min-content;
  margin: 0 3px;
}

.burger_menu > .burger {
  --burger-width: 15px;
  --burger-height: 2px;
  --burger-padding: 7px 9px;
  --burger-gap: 3px;
  --burger-color: #1a1a1a;
  --burger-anim-speed: .5;
}

.header_menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-bottom: 1px solid;
  border-color: #7895cb;

  padding: 15px 0;
  overflow-x: auto;

  transition: opacity .3s ease-in, border-color .3s ease-in;
}

.header_menu > a {
  display: flex;
  min-width: 60px;
  min-height: 35px;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border: 1px solid #96c0d9;
  border-radius: 5px;

  justify-content: center;
  align-items: center;
  text-decoration: none;

  /* background-color: #e4f2f1; */
  color: black;
  padding: 6px;

  transition: color .3s ease-in, background-color .3s ease-in;
}
.header_menu > a:hover {
	opacity: .8;
  cursor: pointer;
}

.header_menu > a.mobile {
  display: none;
}

.pickers {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1em;
}
.curr-select {
  --bg-color: #444d60;
  --bg-hover-color: #3b4254;
  --text-color: #f5f6fa;
}
.lang-select {
  --bg-color: #444d60;
  --bg-hover-color: #3b4254;
  --text-color: #f5f6fa;
}

@media only screen and (max-width: 767px) {
  header {
    min-height: 146px;
  }
  main {
    --min-height: calc(100vh - 100px - 146px);
  }
  .burger_menu {
    display: block;
  }
  .header_menu.hide_element_mobile {
    height: 0;
    padding: 0;
    margin: 0;
    border: 0 #fff;
    opacity: 0;
  }
  .header_menu.hide_element_mobile > .header_menu_box {
    color: #fff;
    background-color: #fff;
  }
  header {
    min-height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .header_menu {
    flex-direction: column;
    gap: 10px;
  }
  .header_menu > a {
    width: 100%;
    box-sizing: border-box;
  }

  .header_menu > a.mobile {
    display: flex;
  }
  .not-mobile {
    display: none !important;
  }
}