# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY='django_secure_key'

# List of allowed hosts
ALLOWED_HOSTS=127.0.0.1,0.0.0.0,example.com

# Remember to create database first (if psql)
DATABASE_URL=psql://user:password@host:port/database

# Email config for verification
# Create app password (google) https://myaccount.google.com/apppasswords
EMAIL_URL=smtp+tls://email:app-passowrd@smtp.gmail.com:587
DEFAULT_FROM_EMAIL=email

# Google reCAPTCHA for bot protection
# Create keys https://www.google.com/recaptcha/admin/create
RECAPTCHA_PUBLIC_KEY=recaptcha-public-key
RECAPTCHA_PRIVATE_KEY=recaptcha-private-key

# plisio.net secret key
PLISIO_SECRET_KEY=plisio-secret-key

# https://openexchangerates.org/account/app-ids for currency
OPENEXCHANGERATES_APP_ID=openexchangerates-app-id
