{% load i18n %}

<div class="lang-select" id="lang-select">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_language_info for LANGUAGE_CODE as cur_lang %}

    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input id="lang-picker" name="language" type="hidden" value="{{ LANG_CODE }}">
    </form>

    <div class="lang-selected"><span>{{ cur_lang.name_local }}</span></div>
    <div class="options-container">
        {% for lang in languages %}
            <div class="option">
                <label for="lang_{{ lang.code }}">{{ lang.name_local }}</label>
                <input type="radio" id="lang_{{ lang.code }}" value="{{ lang.code }}">
            </div>
        {% endfor %}
    </div>
</div>

<div id="current-language" style="display: none">{{ LANGUAGE_CODE }}</div>
